<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
</head>
<body>
  {% block content %}
  {% if messages %}
<div class="container">
  <div class="messages">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

  {% endblock %}
</body>
</html>
